@charset "UTF-8";
.presentation, .container-header, .about-me, .title, .social-media, .container > div, .learning-title, .blog div, .skills, .skills ul, .skills div:nth-child(1), .contact, .contact div, .message {
  display: flex;
  flex-direction: column; }

.container-pres, .fa-bars, .menu-nav {
  align-self: flex-start; }

/* Geral */
html {
  overflow: scroll;
  overflow-x: hidden; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Cormorant Garamond', serif;
  background-color: rgba(0, 0, 128, 0.6);
  color: #fff; }

main {
  width: 63%;
  margin: 0 auto; }

section {
  height: 15em;
  width: 100%;
  padding-top: 1px;
  box-sizing: border-box; }

section:nth-child(odd) {
  background-color: #3f0080; }

section:nth-child(even) {
  background-color: #003f80; }

footer {
  background-color: #003f80;
  text-align: center;
  font-weight: 600; }

/* Apresentação */
.presentation {
  background: url(../assets/background-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: space-around; }

.container-header {
  margin-bottom: 65px;
  align-items: center; }

.container-header h1 {
  margin: .3em 0; }

.fa-bars {
  font-size: 23px;
  margin: .5em .5em;
  cursor: pointer; }

.menu-nav {
  position: absolute;
  background-color: #000;
  margin-left: .5em;
  width: 8em;
  display: none; }
  .menu-nav li {
    list-style-type: none; }
  .menu-nav a {
    color: #fff;
    text-decoration: none; }
  .menu-nav a:hover {
    color: #65a9d7; }

.fa-arrow-alt-circle-down {
  align-self: center;
  font-size: 27px;
  margin-top: .4em;
  cursor: pointer; }

.my-photo {
  width: 5em;
  border-radius: 50%;
  box-shadow: 0 0 5px #fff; }

.title {
  align-items: center;
  height: 6em; }

/* Descrição */
.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 3em; }

img[src="assets/js-icon.png"] {
  width: 18%;
  padding-right: 1em; }

/* Redes Sociais */
.social-media {
  height: 10em; }
  .social-media h2 {
    align-self: center; }
  .social-media ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0; }
    .social-media ul li {
      text-decoration: none;
      transition: .7s; }
    .social-media ul li:hover {
      box-shadow: 0 0 3px navy;
      border-radius: 10px;
      transform: perspective(200px) translateZ(50px); }

.fab {
  font-size: 50px;
  color: #fff; }

/* Aprendizado */
.learning {
  width: 100%;
  height: 100%;
  height: 40em;
  display: flex;
  flex-wrap: wrap; }

.container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.container > div {
  width: 13em;
  height: 45%;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 2px black; }

.container .css,
.javascript,
.angular {
  padding-top: 1em; }

.learning-title {
  width: 100%;
  align-items: center; }

/* Blog */
.blog {
  height: 8em;
  display: flex;
  justify-content: center; }
  .blog div {
    align-items: center; }
  .blog button {
    width: 8em;
    height: 3em;
    border: 1px solid #96d1f8;
    background: #000080;
    border-radius: 8px;
    box-shadow: black 0 1px 0;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    color: #fff;
    font-family: 'Comorant Garamond', serif;
    font-size: 10pt; }

/* Skills */
.skills {
  height: 17em;
  justify-content: space-around; }
  .skills ul {
    height: 6em;
    margin: 0 auto;
    justify-content: space-around; }
  .skills li {
    list-style-type: none; }
    .skills li p {
      margin: 5px 0; }

.skills div:nth-child(1) {
  align-items: center; }

.skills div:nth-child(2) {
  height: 8em; }

p[data-value="83%"]::after {
  content: attr(data-value);
  margin-left: 594px; }

p[data-value="65%"]::after {
  content: attr(data-value);
  margin-left: 464px; }

p[data-value="38%"]::after {
  content: attr(data-value);
  margin-left: 227px; }

progress[value] {
  -webkit-appearance: none;
  border: none;
  background-color: rgba(192, 192, 192, 0.4);
  border-radius: 4px;
  box-shadow: 2px 2px 0 #000 inset;
  width: 97%;
  height: 28px; }

progress[value]::-webkit-progress-bar {
  background-color: rgba(192, 192, 192, 0.4);
  border-radius: 4px;
  box-shadow: 2px 2px 0 #000 inset; }

progress[value]::-webkit-progress-value {
  position: relative;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(left, #65a9d7, #f44); }

/* Contato */
.contact {
  height: 20em; }
  .contact h1 {
    align-self: center; }
  .contact .container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1em; }
    .contact .container-contact input {
      height: 2.4em;
      width: 16em;
      border-radius: 10%; }

input::placeholder {
  font-family: 'Cormorant Garamond', serif; }

.message {
  align-items: center;
  justify-content: space-around;
  height: 16em; }
  .message textarea {
    width: 93%; }
  .message input {
    width: 8em;
    height: 2.5em;
    border: 1px solid #96d1f8;
    background: #000080;
    border-radius: 8px;
    box-shadow: black 0 1px 0;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    color: #fff;
    font-family: 'Comorant Garamond', serif;
    font-size: 12pt; }

textarea::placeholder {
  font-family: 'Cormorant Garamond', serif; }

/*# sourceMappingURL=index.css.map */
