/* Redes Sociais */

.social-media {
    height: 10em;
    @extend %fb-column;

    h2 {
        align-self: center;
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        padding-left: 0;

        li {
            text-decoration: none;
            transition: .7s;
        }

        li:hover {
            box-shadow: 0 0 3px navy;
            border-radius: 10px;
            transform: perspective(200px) translateZ(50px);            
        }
    }
}

.fab {
    font-size: 50px;
    color: #fff;
}